<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style media="screen">
    .jumbotron {
      margin-top: 50px;
      margin-left: 50px;
      margin-right: 50px;
      text-align: center;
    }
    .col-centered{
    margin: 0 auto;
    float: none;
    }
    </style>
</head>
<script src="todo.js" charset="utf-8"></script>
<title>ToDo List</title>

<div class="jumbotron bg-warning">

<h1> To-Do List </h1>

<form>

<input type="text" id="item" placeholder="add new task" class="form-control w-25 col-centered" autocomplete="off" required><br>
<button id="add" class="btn btn-primary shadow" type="button"> Add Task </button>

</form>

<h2> Tasks to do </h2>
<form action="/del" method="post">
<div id="todotask">
  <ul id="todo">
<% for( var i = 0; i < tasks.length; i++){ %>
    <li style="list-style: none;"><input class="form-check-input" type="radio" name="check" value="<%= tasks[i].item %>" /> <%= tasks[i].item %> </li>
<% } %>
  </ul>
<button id="rem" class="btn btn-primary shadow" type="submit"> Finish Task </button>
</form>
</div>
